client/public/*.mov filter=lfs diff=lfs merge=lfs -text
client/public/dji-check.jpg filter=lfs diff=lfs merge=lfs -text
client/public/hores-hero.jpg filter=lfs diff=lfs merge=lfs -text
client/public/hores-nueva.jpg filter=lfs diff=lfs merge=lfs -text
client/public/hores-nueva-orig.jpg filter=lfs diff=lfs merge=lfs -text
client/public/*.mp4 filter=lfs diff=lfs merge=lfs -text
